    <!---------------------------Header---------------------------------------->
    <%- include( "header-footer/header") %>

    
    <header>
        <h1>Add Admin </h1>
    </header>


    <form action="/api/admins" method="post" id="addAdmin">

        <div class="container">

            <h5> Add Admin Type</h5>

            <tr required>  
                <td> Main Admin: <input type="checkbox" name="main" id="main" class="main" value="1"> </td>  
                <td> Secondary Admin: <input type="checkbox" name="secondary" id="secondary" class="secondary" value="0"> </td>   
            </tr> 
            <br><br>


           <label for="ID">Admin Id</label>
            <input type="text" placeholder="Enter a Admin ID" name="ID" >

            <label for="Name">Full Name</label>
            <input type="text" placeholder="Enter your full name" name="Name" required>
    
    
            <label for="Phone">Phone Number</label>
            <input type="text" placeholder="Enter your phone number" name="Phone" required>
    
    
            <label for="Email">Email</label>
            <input type="email" placeholder="Enter your email address" name="Email" required>

            <br>
            <br>

            <label for="Username">Username</label>
            <input type="text" placeholder="Enter your username" name="Username" required>

            <label for="Password">Password</label>
            <input type="text" placeholder="Enter your password" name="Password" required>
    
            <a href="/index"><button type="submit" class="button">Submit</button></a>

    
        </div>

    </form>

    <!---------------------------Footer---------------------------------------->
    <%- include("header-footer/footer") %>

