    <!---------------------------Header---------------------------------------->
    <%- include( "header-footer/header") %>




    
    
    <header>
        <h1>Add Vehivcle Expenditure</h1>
    </header>


    <form action="/addvehicleExpenditure" method="post">

        <div class="container">
           <label for="Employee">Employee ID</label>
            <input type="text" placeholder="Enter a Employee ID" name="Employee" required>

            <label for="Name">Name</label>
            <input type="text" placeholder="Enter a Name" name="Name" required>


            <label for="Salary">Salary</label>
            <input type="text" placeholder="Enter Salary" name="Salary" required>

    
    
            <label for="Vehicles">Do you have vehicle</label>
            <input type="text" placeholder="Do you have vehicle" name="Vehicles" >

            <label for="Vehicle_type">vehicle type</label>
            <input type="text" placeholder="Enter your vehicle_type" name="Vehicle_type" >

            <label for="Vehicle_id">vehicle ID</label>
            <input type="text" placeholder="Enter your vehicle id" name="Vehicle_id" >

            <label for="Vehicle_no">Vehicle_no</label>
            <input type="text" placeholder="Enter your Vehicle_no" name="Vehicle_no" >

            <label for="Month">Month</label>
            <input type="text" placeholder="Enter your Month" name="Month" >

            <label for="Fuel_type">Fuel Type</label>
            <input type="text" placeholder="Enter a Fuel Type" name="Fuel_type" >

            <br>
            <label for="Meter_start">Meter Start(KM)</label>
            <br>
            <input type="text" placeholder="Enter your Meter Start(KM)" name="Meter_start">
    
            <br>
            <label for="Meter_end">Meter End(KM)</label>
            <br>
            <input type="text" placeholder="Enter your Meter End(KM)" name="Meter_end">
    
            <br>
            <label for="Traversal_perday_KM">Traversal Perday(KM)</label>
            <br>
            <input type="text" placeholder="Enter your Traversal Perday(KM)" name="Traversal_perday_KM">

            <br>
            <label for="Fuel_entered_perday">Fuel Entered Perday(Liter)</label>
            <br>
            <input type="text" placeholder="Enter your Fuel Entered Perday(Liter)" name="Fuel_entered_perday" >

            <br>
            <label for="Days_count">Days Count</label>
            <br>
            <input type="text" placeholder="Enter your Days Count" name="Days_count" >

            <br>
            <label for="Perday_cost">Fuel Cost Perday(Taka)</label>
            <br>
            <input type="text" placeholder="Enter your Fuel Cost Perday(Taka)" name="Perday_cost" >

            
            <br>
            <label for="Monthly_cost">Monthly Cost</label>
            <br>
            <input type="text" placeholder="Enter your Monthly Cost" name="Monthly_cost" >

            <br>
            <label for="Limit">Limit</label>
            <br>
            <input type="text" placeholder="Enter Limit" name="Limit" >

        
    
            <br>
            <br>
            <a href="/index"><button type="submit" class="button">Submit</button></a>

    
        </div>

    </form>

    <!---------------------------Footer---------------------------------------->
    <%- include("header-footer/footer") %>

