    <!---------------------------Header---------------------------------------->
    <%- include( "header-footer/header") %>

    
    <header>
        <h1>Add fuel Expenditure</h1>
    </header>


    <form action="/api/fuelcalculation" method="post" id="addfuelCalculation">

        <div class="container">
           <label for="Employee_Id">Employee ID</label>
            <input type="number" placeholder="Enter a Employee ID" name="Employee_Id" required>
            <br>

            <label for="Month_Name">Month</label>
            <input type="text" placeholder="Enter a Name" name="Month_Name" required>


            <label for="Date_name">Date_name</label>
            <input type="text" placeholder="Enter Date_name" name="Date_name" required>

            <br>
            <label for="Meter_start">Meter Start(KM)</label>
            <br>
            <input type="text" placeholder="Enter your Meter Start(KM)" name="Meter_start">
    
            <br>
            <label for="Meter_end">Meter End(KM)</label>
            <br>
            <input type="text" placeholder="Enter your Meter End(KM)" name="Meter_end">
    
            <label for="Fuel_Type">Fuel_Type</label>
            <input type="text" placeholder="Fuel_Type" name="Fuel_type" >

            <label for="Fuel_cost"> Fuel Cost</label>
            <input type="text" placeholder="Enter Cost" name="Fuel_cost" >

            

        
    
            <br>
            <br>
            <a href="/"><button type="submit" class="button">Submit</button></a>

    
        </div>

    </form>

    <!---------------------------Footer---------------------------------------->
    <%- include("header-footer/footer") %>
